
<html dir="rtl" lang="fa">
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>

        @if (ViewBag.cart != null)
        {
            <h3 class="text-center">@Localizer["Cart"]</h3>
            <table cellpadding="2" cellspacing="2" border="1" class="table">
                <tr>
                    <th class="table-dark text-center">@Localizer["Operation"]</th>
                    <th class="table-dark text-center">@Localizer["ProductName"]</th>
                    <th class="table-dark text-center">@Localizer["UnitPrice"]</th>
                    <th class="table-dark text-center">@Localizer["Profit"]</th>
                    <th class="table-dark text-center">@Localizer["Qty"]</th>
                    <th class="table-dark text-center">@Localizer["SumOfPrice"]</th>
                </tr>
                @foreach (var item in ViewBag.cart)
                {
                    <tr class="text-center">
                        <td><a asp-controller="cart" asp-action="RemoveFromCart" asp-route-id="@item.Product.ProductId">حذف</a></td>
                        <td>@item.Product.Name</td>
                        <td>@item.Product.Price</td>
                        <td>@item.Product.Profit</td>
                        <td>@item.Qty</td>
                        <td>@((item.Product.Price + item.Product.Profit) * item.Qty)</td>
                    </tr>
                }
                <tr>
                    <td align="right" colspan="6">@Localizer["SumOfFactorPrice"]</td>
                    <td>
                        @ViewBag.total
                    </td>
                </tr>
            </table>
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-secondary" asp-controller="Home" asp-action="index">@Localizer["ReturnToStore"]</a>
                <a class="btn btn-primary me-md-2" asp-controller="Order" asp-action="FinalizeOrder">@Localizer["Continue"]</a>
            </div>
        }
        else
        {
            <h1 class="text-center">@Localizer["CartIsEmpty"]</h1>
        }
    </div>
</body>
</html>

