<html dir="rtl" lang="ar">
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>

        @if (ViewBag.cart != null)
        {
            <h3 class="text-center">سبد خرید</h3>
            <table cellpadding="2" cellspacing="2" border="1" class="table">
                <tr>
                    <th class="table-dark text-center">عملیات</th>
                    <th class="table-dark text-center">نام کالا</th>
                    <th class="table-dark text-center">قیمت واحد</th>
                    <th class="table-dark text-center">سود</th>
                    <th class="table-dark text-center">تعداد</th>
                    <th class="table-dark text-center">جمع مبلغ</th>
                </tr>
                @foreach (var item in ViewBag.cart)
                {
                    <tr class="text-center">
                        <td><a asp-controller="cart" asp-action="RemoveFromCart" asp-route-id="@item.Product.ProductId">حذف</a></td>
                        <td>@item.Product.Name</td>
                        <td>@item.Product.Price</td>
                        <td>@item.Product.Profit</td>
                        <td>@item.Qty</td>
                        <td>@((item.Product.Price + item.Product.Profit) * item.Qty)</td>
                    </tr>
                }
                <tr>
                    <td align="right" colspan="6">جمع فاکتور</td>
                    <td>
                        @ViewBag.total
                    </td>
                </tr>
            </table>
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-secondary" asp-controller="Home" asp-action="index">بازگشت به فروشگاه</a>
                <a class="btn btn-primary me-md-2" asp-controller="Order" asp-action="FinalizeOrder">ادامه خرید</a>
            </div>
        }
        else
        {
            <h1 class="text-center">سبد خرید خالی است</h1>
        }
    </div>
</body>
</html>

